.App {
  width: 96%;
  margin: 50px auto;
  border-left: 3px solid grey;
  padding: 1em;

  &__selected {
    padding: 6px;
    background-color: orange;
    font-weight: 900;
    margin-left: 20px;
  }
}
