.Slider{
  padding: 30px;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1{
    color: white;
  }
  .slick-slider{
    height: 260px;
    width: 1200px;
    .slick-list{
      .slick-track{
        height: 260px;
        .slick-slide{
          color: white;
          height: 100%;
          div{
            height: 260px;
            padding: 10px;
            img{ 
              width: 100%;
              height: 70%; 
            }
            h3,p{
              margin: 5px;
            }

          }
        }
      }
      
    }
  }
}
