form {
  width: 600px;
  margin: 20px auto;
  border: 1px solid #a99e9e;
  padding: 1em;
  input,
  select {
    width: 100%;
    margin: 10px 0 0 10px;
    padding: 0.6em;
    font-size: 18px;
    &[type="submit"] {
      background-color: rgb(33, 115, 33);
      color: #fff;
      border: 0;
      cursor: pointer;
      font-size: 22px;
      &:disabled {
        background-color: #a99e9e;
        color: #fff;
        cursor: no-drop;
      }
    }
  }
  .errors {
    &-item {
      color: #fff;
      font-size: 16px;
      line-height: 1;
      background-color: #b33434;
      margin-bottom: 12px;
      font-weight: 500;
      padding: 10px;
    }
  }
}

ul {
  width: 600px;
  padding: 1em;
  height: 450px;
  overflow-y: auto;
  margin: 20px auto;
  li {
    border: 1px solid grey;
    padding: 10px 20px;
    font-size: 20px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 8px;
    i {
      float: right;
      font-size: 22px;
      color: #ff0404;
      font-weight: 700;
      cursor: pointer;
    }
  }
}
