.Services {
  text-align: right;
  padding: 1em 0;
  .Posts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 120px;
    padding: 16px 0;
    gap: 30px 20px;
    & > a {
      background-image: linear-gradient(to top right, #0d9488, #042f2e);
      padding: 2em;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        background-image: linear-gradient(to top left, #042f2e, #0d9488);
      }
      h2 {
        width: 90%;
        margin: 20px auto;
      }
    }
  }
}
