$light-bg-color: #eee;
$dark-bg-color: #1d1d1d;
$warning-bg-color: #ff0909;

.Hedding {
  padding: 0.5em;
  border-radius: 12px;
  &-light {
    background-color: $light-bg-color;
    color: $dark-bg-color;
  }
  &-warning {
    background-color: $warning-bg-color;
    color: $light-bg-color;
  }
  &-dark {
    background-color: $dark-bg-color;
    color: $light-bg-color;
  }
  &-default {
    background-color: none;
    color: $dark-bg-color;
  }
  &-xs {
    font-size: 16px;
  }
  &-sm {
    font-size: 20px;
  }
  &-md {
    font-size: 24px;
  }
  &-lg {
    font-size: 28px;
  }
  &-xl {
    font-size: 36px;
  }
  &-center {
    text-align: center !important;
  }
}
