header {
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  nav {
    height: 100%;
    width: 60%;
    ul {
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      li {
        text-transform: uppercase;
        font-weight: 700;
        a {
          color: #8f8f8f;
          &.active__link {
            color: orangered;
          }
        }
        button {
          padding: 0.6rem 1rem;
          margin: 0 10px;
          background-color: royalblue;
          border-radius: 6px;
          color: #fff;
          border: 0;
          cursor: pointer;
        }
      }
    }
  }
  .logo {
    a {
      color: bisque;
      font-size: 40px;
      letter-spacing: 2px;
    }
  }
}
