header {
  padding: 2em;
  background-color: rgb(227, 227, 227);
  display: flex;
  justify-content: space-between;
  align-items: center;
  nav {
    height: 100%;
    width: 40%;
    ul {
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      li {
        text-transform: uppercase;
        font-weight: 700;
        a {
          color: #a49f9f;
        }
      }
    }
  }
}
