.App {
  margin: 0px auto;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 120px 1fr 100px;
}

footer {
  background-color: rgb(177, 116, 36);
  padding: 1em;

  align-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
}
