.App {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  &__posts {
    padding: 1.5rem;
    border-radius: 12px;
    width: 860px;
    border: 2px solid #eee;
    box-shadow: 0 0 12px 0px rgba($color: #111, $alpha: 0.3);
    p {
      line-height: 1.6;
      font-size: 22px;
      margin: 20px auto;
      &.selected {
        font-size: 22px;
        color: gray;
        text-decoration: underline;
      }
    }
    h1 {
      font-size: 40px;
      color: orangered;
    }
    .btn {
      padding: 0.6rem 1rem;
      border: 0;
      cursor: pointer;
      font-weight: 700;
      border-radius: 6px;
      background-color: royalblue;
      color: #fff;
    }
  }
  select {
    padding: 0.3rem 0.6rem;
    border-radius: 6px;
    font-size: 18px;
    align-self: end;
  }
}
