.App {
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  background-color: rgb(241, 241, 241);
}

.todos{
  background-color: #eee;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.todo{
  background-color: #c9c9c9;
  height: 130px;
  width: 300px;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}
i{
  position: absolute;
  top: -15px;
  right: -10px;
  font-size: 22px;
  cursor: pointer;
  color: #ff0000;
}