@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  max-width: 1440px;
  padding-right: 16px;
  padding-left: 16px;
  margin: 0 auto;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

pre {
  margin: 50px auto;
  display: block;
  width: 500px;
  padding: 2em;
  min-height: 200px;
  color: papayawhip;
  font-family: 'Courier New', Courier, monospace;
  background-color: #111;
  border-radius: 24px;
  overflow: hidden;
  white-space: pre-line;
}

.link {
  background: royalblue;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.2s;
}

.link:active {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px inset;
  scale: 0.98;
}

.link-disabled {
  pointer-events: none;
  opacity: 0.5;
  background-color: grey !important;
  text-decoration: none;
}

.slick-slider {
  width: 1200px;
  height: 600px;
  margin: 50px auto;
  padding-top: 5%;
}

.slick-list {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.slick-track {
  height: 90%;
}

.slick-prev {
  left: -30px;
}

.slick-prev {
  left: -40px;
}

.slick-next {
  right: -40px;
}

.slick-arrow {
  width: 30px;
  height: 30px;
}

.slick-arrow::before {
  color: #000;
  font-size: 35px;
}

.slick-slide {
  padding: 1em;
  height: 100%;
  scale: 0.8;
  transition: 0.2s;
}

.slick-slide>div {
  height: 100%;
}

.slick-center {
  width: 400px;
  scale: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}