ul {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  li {
    padding: 0.6rem 1rem;
    background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
    color: #fff;
    border-radius: 6px;
    font-weight: 800;
    color: #000;
  }
}
